@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  
}
.app_body{
  display: flex;
  height: 95vh;
  width: 95vw;
  border-radius: 30px;
  overflow: hidden;
  background: rgb(30,119,165);
  background: linear-gradient(80deg, rgba(30,119,165,1) 0%, rgba(106,242,216,1) 100%);
  box-shadow: 1px 4px 20px -6px rgba(0,0,0,1);
  font-family: 'Roboto', sans-serif;
}